@import "../partials/vars";

.transition-slow {
    transition: all .3s ease-in-out;
}
.no-display {
    display: none;
}

.animated-fields {
    display: flex;
    flex-direction: column;
    padding: 15px;

    .sample-zone {
        margin: 15px 0;
        padding: 15px;
        border-radius: 5px;
        font-size: 1.2em;
    }

    //link 
    a {
        @extend .transition-slow;
        
        color:$default-color;
        text-decoration: none;
        position: relative;
        opacity: .8;

        &:before {
            @extend .transition-slow;

            position: absolute;
            bottom: -1px;
            transform: scale(0);
            content: '';
            background-color: $primary-color;
            width: 100%;
            height: 1px;
        }

        &:hover, &:focus {
            opacity: 1;
            outline: none;
            color: $primary-color;
            &:before {
            transform: scale(1);
            }
        }
    }

    //button
    button {
        position: relative;
        overflow: hidden;
        cursor: pointer;

        &:before {
            @extend .transition-slow;
            background-color: rgba(255,255,255, .2);
            position: absolute;
            left:50%;
            width: 20px;
            height:  20px;
            border-radius: 50%;
            transform: scale(0);
            content: ' ';
        }

        &:active {
            outline: none;

            &:before {
                //animation: btn-clicked .2s ease-in-out;
                transform: scale(80);        
            }
        }
    }

    //input field
    .input-field {
        //revert previous css changes
        input {
        border:none !important;
        font-size: 1em;
        padding: 0;
        margin: 5px 0;
            &:focus {
                outline: none;
            }
            // &:placeholder-shown {
            //     animation: slide-placeholder .3s ease-in-out;
            // }
        }
        
        position: relative;
        @extend .transition-slow;
        opacity: .8;

        &__placeholder {
            position: absolute;
            z-index: 1;
            font-size: .8em;
            transform: translateY(-12px);
            animation: show-placeholder-as-label .1s ease-in;
        }
        &__placeholder-hide {
            position: absolute;
            opacity: 0;
            font-size: .7em;
            transform: translateY(0);
            animation: hide-placeholder-as-label .1s ease-in;
        }

        &:before {
            @extend .transition-slow;
            position: absolute;
            bottom: -1px;
            transform: scale(0);
            content: '';
            background-color: $primary-color;
            width: 100%;
            height: 1px;
        }

        &:hover {
            opacity: 1;

            &:before {
            transform: scale(1);
            }
        }
    }
}

@keyframes slide-placeholder {
    from {
        transform: translateX(20%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes show-placeholder-as-label {
    from {
        transform: translateY(0);
        font-size: .7em;
        opacity: 0;
    }
    to {
        opacity: 1;
        font-size: .8em;
        transform: translateY(-12px);
    }
}
@keyframes hide-placeholder-as-label {
    from {
        opacity: 1;
        font-size: .8em;
        transform: translateY(-12px);
    }
    to {
        transform: translateY(0);
        font-size: .7em;
        opacity: 0;
    }
}
@keyframes btn-clicked {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(80);
    }
}