.icon-menu {
    cursor:pointer;
    padding: 10px;
    text-transform: uppercase;

    &.opened:before {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0, .15);
        content: ' ';
    }
}

.side-menu {
    transition: all .3s ease-in-out;
    display: block;
    position: fixed;
    top:0;
    left: 0;
    width: 50%;
    height: 100vh;
    transform: translateX(-100%);
    background-color: $primary-color;
      color:$on-primary-color;

    &.opened {
    transform: translateX(0%);
    box-shadow: 2px 0 2px rgba(0, 0, 0, .3);
    }

    .menu-header {
        height: 100px;
        background-color: $on-primary-color;
        color:$primary-color;
    }

    .menu-items {
        display: flex;
        flex-direction: column;

        .nav-item {
            width: 100%;
            cursor: pointer;
            transition: all .3s ease;
            &-title {
                padding: 10px;
                font-size: 1.6em;
            }

            &:hover {
                background-color: $accent-color;
            }
        }
    }
}

@media (orientation: portrait) {
    .side-menu {
        width: 80%;
    }
}