@charset "UTF-8";
button {
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 3px;
  background-color: #3F51B5;
  color: white;
  transition: all .3s ease; }
  button:hover {
    opacity: 0.95;
    box-shadow: 0 1px 3px 3px rgba(127, 127, 127, 0.28); }

input[type="text"] {
  min-width: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 1px #666666;
  border-radius: 3px; }

.icon-menu {
  cursor: pointer;
  padding: 10px;
  text-transform: uppercase; }
  .icon-menu.opened:before {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.15);
    content: ' '; }

.side-menu {
  transition: all .3s ease-in-out;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  transform: translateX(-100%);
  background-color: #3F51B5;
  color: white; }

.side-menu ul, .side-menu li {
    list-style: none;
    padding-left: 0;
}
  .side-menu.opened {
    transform: translateX(0%);
      box-shadow: 2px 0 3px rgba(0, 0, 0, 0.3);
  }
  .side-menu .menu-header {
    height: 100px;
    background-color: white;
    color: #3F51B5; }
  .side-menu .menu-items {
    display: flex;
    flex-direction: column; }
    .side-menu .menu-items .nav-item {
      width: 100%;
      cursor: pointer;
        transition: all .3s ease;
        padding: 10px 0;
    }
      .side-menu .menu-items .nav-item-title {
        padding: 10px;
        font-size: 1.6em; }
      .side-menu .menu-items .nav-item:hover {
        background-color: #5C6BC0; }

@media (orientation: portrait) {
  .side-menu {
    width: 80%; } }

@media screen and (min-width: 1400px) {
    .side-menu {
        width: 300px;
        transform: none;
        box-shadow: 2px 0 3px rgba(0, 0, 0, 0.3);
    }

    .side-menu .icon-menu {
        display: none;
    }
}

.users {
  display: flex;
  flex-direction: column; }

.user-template {
  padding: 10px;
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .user-template .user-image {
    width: 60px;
    height: 60px;
    border-radius: 30px; }
  .user-template .user-name {
    padding-left: 15px;
    font-size: 3em; }

.trainings .training-template {
  margin: 20px 0;
  display: flex;
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.28); }
  .trainings .training-template .training-image {
    width: 80px;
    height: 80px;
    background-color: #fafafa;
    flex-shrink: 0; }
  .trainings .training-template .training-datas {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 100%; }
    .trainings .training-template .training-datas .training-title {
      font-size: 1.6em;
      color: #3F51B5;
      padding-left: 10px; }
    .trainings .training-template .training-datas .training-secondary {
      background-color: #fafafa;
      color: #666666;
      padding: 10px;
      flex-grow: 1; }

@viewport {
  width: device-width;
  /* largeur du viewport */
  zoom: 1;
  /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */ }

* {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  color: #666666;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden; }

section {
  margin: 20px auto;
  border-bottom: solid 1px #cfcfcf; }

.header {
  background-color: #3F51B5;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100vw; }

.container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px; }

@media screen and (min-width: 1400px) {
    .header .icon-menu.menu-left {
        display: none;
    }
}
