@charset "UTF-8";
button {
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 3px;
  background-color: #3F51B5;
  color: white;
  transition: all .3s ease; }
  button:hover {
    opacity: 0.95;
    box-shadow: 0 1px 3px 3px rgba(127, 127, 127, 0.28); }

input[type="text"] {
  min-width: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 1px #666666;
  border-radius: 3px; }

.icon-menu {
  cursor: pointer;
  padding: 10px;
  text-transform: uppercase; }
  .icon-menu.opened:before {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.15);
    content: ' '; }

.side-menu {
  transition: all .3s ease-in-out;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  transform: translateX(-100%);
  background-color: #3F51B5;
  color: white;
  z-index: 9; }
  .side-menu ul, .side-menu li {
    list-style: none;
    padding-left: 0; }
  .side-menu.opened {
    transform: translateX(0%);
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.3); }
  .side-menu .menu-header {
    height: 100px;
    background-color: white;
    color: #3F51B5; }
  .side-menu .menu-items {
    display: flex;
    flex-direction: column; }
    .side-menu .menu-items .nav-item {
      width: 100%;
      cursor: pointer;
      transition: all .3s ease;
      padding: 10px 0; }
      .side-menu .menu-items .nav-item-title {
        padding: 10px;
        font-size: 1.6em; }
      .side-menu .menu-items .nav-item:hover {
        background-color: #5C6BC0; }

@media (orientation: portrait) {
  .side-menu {
    width: 80%; } }

@media screen and (min-width: 1400px) {
  .side-menu {
    width: 300px;
    transform: none;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.3); }
    .side-menu .icon-menu {
      display: none; } }

.users {
  display: flex;
  flex-direction: column; }

.user-template {
  padding: 10px;
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .user-template .user-image {
    width: 60px;
    height: 60px;
    border-radius: 30px; }
  .user-template .user-name {
    padding-left: 15px;
    font-size: 3em; }

.trainings .training.loading {
  width: 100%;
  animation: shine 1s ease-in infinite; }
  .trainings .training.loading .training-template {
    animation: none; }

.trainings .training-template {
  margin: 20px 0;
  display: flex;
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.28);
  animation: onload 0.8s ease-in-out; }
  .trainings .training-template .training-image {
    width: 80px;
    height: 80px;
    background-color: #fafafa;
    flex-shrink: 0; }
  .trainings .training-template .training-datas {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 100%; }
    .trainings .training-template .training-datas .training-title {
      font-size: 1.6em;
      color: #3F51B5;
      padding-left: 10px; }
    .trainings .training-template .training-datas .training-secondary {
      background-color: #fafafa;
      color: #666666;
      padding: 10px;
      flex-grow: 1; }
  .trainings .training-template .no-image {
    background-color: #fafafa;
    border-radius: 15px; }
  .trainings .training-template .no-text {
    min-width: 100%;
    height: 34px;
    padding: 10px; }
    .trainings .training-template .no-text span {
      background-color: #5C6BC0;
      height: 26px;
      display: block;
      border-radius: 15px; }
  .trainings .training-template .no-description {
    background-color: #aaaaaa;
    min-width: 100%;
    height: 26px;
    border-radius: 15px; }

@keyframes onload {
  from {
    transform: translateX(5%);
    opacity: 0; }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes shine {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 0.7; }
  100% {
    opacity: 0.5; } }

.transition-slow, .animated-fields a, .animated-fields a:before, .animated-fields button:before, .animated-fields .input-field, .animated-fields .input-field:before {
  transition: all .3s ease-in-out; }

.no-display {
  display: none; }

.animated-fields {
  display: flex;
  flex-direction: column;
  padding: 15px; }
  .animated-fields .sample-zone {
    margin: 15px 0;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.2em; }
  .animated-fields a {
    color: #666666;
    text-decoration: none;
    position: relative;
    opacity: .8; }
    .animated-fields a:before {
      position: absolute;
      bottom: -1px;
      transform: scale(0);
      content: '';
      background-color: #3F51B5;
      width: 100%;
      height: 1px; }
    .animated-fields a:hover, .animated-fields a:focus {
      opacity: 1;
      outline: none;
      color: #3F51B5; }
      .animated-fields a:hover:before, .animated-fields a:focus:before {
        transform: scale(1); }
  .animated-fields button {
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .animated-fields button:before {
      background-color: rgba(255, 255, 255, 0.2);
      position: absolute;
      left: 50%;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      transform: scale(0);
      content: ' '; }
    .animated-fields button:active {
      outline: none; }
      .animated-fields button:active:before {
        transform: scale(80); }
  .animated-fields .input-field {
    position: relative;
    opacity: .8; }
    .animated-fields .input-field input {
      border: none !important;
      font-size: 1em;
      padding: 0;
      margin: 5px 0; }
      .animated-fields .input-field input:focus {
        outline: none; }
    .animated-fields .input-field__placeholder {
      position: absolute;
      z-index: 1;
      font-size: .8em;
      transform: translateY(-12px);
      animation: show-placeholder-as-label .1s ease-in; }
    .animated-fields .input-field__placeholder-hide {
      position: absolute;
      opacity: 0;
      font-size: .7em;
      transform: translateY(0);
      animation: hide-placeholder-as-label .1s ease-in; }
    .animated-fields .input-field:before {
      position: absolute;
      bottom: -1px;
      transform: scale(0);
      content: '';
      background-color: #3F51B5;
      width: 100%;
      height: 1px; }
    .animated-fields .input-field:hover {
      opacity: 1; }
      .animated-fields .input-field:hover:before {
        transform: scale(1); }

@keyframes slide-placeholder {
  from {
    transform: translateX(20%); }
  to {
    transform: translateX(0); } }

@keyframes show-placeholder-as-label {
  from {
    transform: translateY(0);
    font-size: .7em;
    opacity: 0; }
  to {
    opacity: 1;
    font-size: .8em;
    transform: translateY(-12px); } }

@keyframes hide-placeholder-as-label {
  from {
    opacity: 1;
    font-size: .8em;
    transform: translateY(-12px); }
  to {
    transform: translateY(0);
    font-size: .7em;
    opacity: 0; } }

@keyframes btn-clicked {
  from {
    transform: scale(0); }
  to {
    transform: scale(80); } }

@viewport {
  width: device-width;
  /* largeur du viewport */
  zoom: 1;
  /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */ }

* {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  color: #666666;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll; }

section {
  margin: 20px auto;
  border-bottom: solid 1px #cfcfcf; }

article {
  width: 100%; }

.header {
  background-color: #3F51B5;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100vw; }

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px; }

@media screen and (min-width: 1400px) {
  .header .icon-menu.menu-left {
    display: none; }
  .container {
    padding-left: 300px; } }
